:root {
  --color-text: #fff8dc;
  --color-background: #555;
  --color-border: rgb(5, 98, 110);
  --color-theme: #033b5e;
  --color-rust: rgb(145, 70, 0);

  --padding: 0.8rem;

  --font-size-button: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: #202124;
  display: grid;
  grid-template-columns: auto 1fr;
}

/* WelcomeInit */

#welcome {
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-color: var(--color-theme);
}

#welcome > h1 {
  color: var(--color-rust);
}

#welcome > p {
  color: var(--color-text);
}

#welcome > button {
  font-size: var(--font-size-button);
}

/* Monaco Editor */

#editor {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

#frame {
  width: 100%;
  height: 100%;
}

#console {
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  margin: 5px 0 0 2px;
  background-color: var(--color-theme);
  color: var(--color-text);
}

#console > input {
  width: 100%;
  height: 100%;
}

.console-container {
  width: 100%;
  min-height: 100px;
}

.content-container {
  min-width: 300px !important;
}

/* Lesson Content */

#content {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  /* resize: horizontal; */
  overflow-x: hidden;
  border-right: 2px solid var(--color-border);
}
#content > h1 {
  padding: var(--padding);
}

#lesson {
  padding: var(--padding);
}

#challenge {
  padding: var(--padding);
}

/* Buttons.js */

#buttons {
  padding: var(--padding);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#buttons > button {
  font-size: var(--font-size-button);
  height: 2.4rem;
  margin-top: 0.6rem;
}

button:hover {
  cursor: pointer;
}
